.menuContainer {
  width: 600px;
  height: 400px;
  background-color: white;

  -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.buttonContainer {
  height: 150px;
  width: auto;
  display: flex;
  flex-direction: row;
}

@import '../../node_modules/react-selectize/themes/index.css';
@import '~antd/dist/antd.css'